body 
{
    font-size: 40px;
    font-family: monospace;
    color: whitesmoke;
    margin-top: 100px;
    margin-left: 100px;
    background-color: rgba(0, 0, 0, 0.9);
    user-select: none;
}

#outputBox
{
    height: 75px;
    width: 1630px;

    color: whitesmoke;
    text-align: right;
}
#expression
{
    font-size: 20px;
    margin-bottom: 7px;
}

.calculator
{
    margin-top: 100px;
    width: 2000px;
    height: 100px;

}


.button
{
    overflow: hidden;
    display: inline-block;
    height: 100px;
    width: 175px;  
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-top: 15px;

    margin-left: -15px;
    margin-bottom: 0px;
}

.button:hover 
{
    background-color: rgba(0, 0, 0, 0.9);
}

.function
{
    font-style: italic;
}

.digit
{
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.5);
}

.notWorking
{
    background-color: red;
}

